1. During each chapter I can hatch a single digimon.
2. If a digimon faints, I need to de-digivolve him to his earliest state, convert him back into data, and then I can re-hatch him.
3. I cannot use a digimon in the same chapter that it fainted in.
4. I cannot have a digimon more digivolved than the boss fight. (may need to adjust)
5. I cannot de-digivolve to raise ABI, I can only digivolve upwards. I can only de-digivolve for rule #2. (may need to adjust)
6. If I have no digimon left, I lose.
7. Starter picked through num gen (1-3, 4-6, 7-9)
8. Digivolution also num gen (this one is very luck dependent not sure about it)
9. Must play on hard
